 # Segmenting and Clustering Neighborhoods in Toronto

## Introduction

In this assignment, I will explore, segment, and cluster the neighborhoods in the city of Toronto. However, unlike New York, the neighborhood data is not readily available on the internet.

For the Toronto neighborhood data, a Wikipedia page exists that has all the information we need to explore and cluster the neighborhoods in Toronto. I will scrape the Wikipedia page and wrangle the data, clean it, and then read it into a pandas dataframe so that it is in a structured format.

Once the data is in a structured format, I will explore and cluster the neighborhoods in the city of Toronto.

Firstly, let's download all the packages that we will require to complete the analysis
1. Folium
2. Seaborn

In [1]:
!pip install folium

Requirement already satisfied: folium in /opt/miniconda3/lib/python3.7/site-packages (0.10.1)
Requirement already satisfied: branca>=0.3.0 in /opt/miniconda3/lib/python3.7/site-packages (from folium) (0.3.1)
Requirement already satisfied: numpy in /opt/miniconda3/lib/python3.7/site-packages (from folium) (1.17.4)
Requirement already satisfied: jinja2>=2.9 in /opt/miniconda3/lib/python3.7/site-packages (from folium) (2.10.3)
Requirement already satisfied: requests in /opt/miniconda3/lib/python3.7/site-packages (from folium) (2.22.0)
Requirement already satisfied: six in /opt/miniconda3/lib/python3.7/site-packages (from branca>=0.3.0->folium) (1.12.0)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/miniconda3/lib/python3.7/site-packages (from jinja2>=2.9->folium) (1.1.1)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/miniconda3/lib/python3.7/site-packages (from requests->folium) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/miniconda3/lib/python3.7/site-packages (from requests->folium) (1.24.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/miniconda3/lib/python3.7/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/miniconda3/lib/python3.7/site-packages (from requests->folium) (2019.11.28)

In [2]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /opt/miniconda3/lib/python3.7/site-packages (4.8.2)
Requirement already satisfied: soupsieve>=1.2 in /opt/miniconda3/lib/python3.7/site-packages (from beautifulsoup4) (1.9.5)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import folium
import requests
import json
from bs4 import BeautifulSoup

%matplotlib inline

The neighborhood data for Toronto is available on [Wikipedia](https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M)

We will scrape this page using Beautifulsoup library and transform it into a dataset

In [10]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

resp = requests.get(url)
toronto_html = BeautifulSoup(resp.content)

In [11]:
soup = BeautifulSoup(str(toronto_html))

In [12]:
neighborhood_table = soup.find('table')

In [13]:
table_str = str(neighborhood_table.extract())

In [14]:
toronto_df = pd.read_html(table_str)[0]

In [15]:
toronto_df.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

## Pre-Processing

In [16]:
toronto_df.columns = ['PostalCode'] + list(toronto_df.columns)[1:]

In [17]:
toronto_df.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [18]:
toronto_df.shape

(287, 3)

I am removing the cells with a borough that is Not assigned

In [19]:
toronto_df.Borough.value_counts()

Not assigned        77
Etobicoke           44
North York          38
Scarborough         37
Downtown Toronto    37
Central Toronto     17
West Toronto        13
York                 9
East Toronto         7
East York            6
Queen's Park         1
Mississauga          1
Name: Borough, dtype: int64

In [20]:
borough_na = toronto_df[toronto_df.Borough == 'Not assigned']
toronto_df.drop(borough_na.index, inplace=True)

In [21]:
toronto_df.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

In [22]:
toronto_df.shape

(210, 3)

Next, I will combine neighborhoods with the same postal code into one row

In [23]:
toronto_df = toronto_df.groupby(['PostalCode', 'Borough'])['Neighborhood'].apply(lambda x: ', '.join(x)).to_frame()

In [24]:
toronto_df.reset_index(inplace=True)
toronto_df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

Let's check whether all Neighorhoods are valid

In [25]:
toronto_df[toronto_df.Neighborhood == "Not assigned"]

   PostalCode       Borough  Neighborhood
85        M7A  Queen's Park  Not assigned

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [26]:
toronto_df.loc[85, 'Neighborhood'] = toronto_df.loc[85, 'Borough']
toronto_df[toronto_df.Neighborhood == "Not assigned"]

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

Nice! The empty dataframe indicates there are no neighborhoods in the dataset which have a borough name but no neighborhood name.

Following is the cleaned and processed dataframe

In [27]:
toronto_df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [28]:
toronto_df.shape

(103, 3)

Now that we have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name, in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

In [32]:
geo_url = "https://cocl.us/Geospatial_data"

geocode_df = pd.read_csv(geo_url)
geocode_df.rename(columns={'Postal Code': 'PostalCode'}, inplace=True)
geocode_df.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [33]:
toronto_df = pd.merge(toronto_df, geocode_df, on='PostalCode')
toronto_df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476